<div id="boardsPage">
  <div class="container">
    <div class="row justify-content-center boards" style="margin-bottom: 350px; ">
      
      <div class="col-md-4 col-sm-6"  style="background-color:#fff; height: 100%">
        <div class="row">
          <img src="img/board.png" class="img-responsive" alt="Boards" width="300px" height="409px" style= "margin-left:-15px;"> 
        </div>
      </div>	
      
      <div class="col-md-4 col-sm-6" style="background-color:#fff;">  
        <h5>JR Surfboards The Donny Stoker <br /> Yellow/Green Rail Fade</h5>
  
        <div style="color: grey;">
          <div class="star-rating">
            <span class="fa fa-star checked" data-rating="1"></span>
            <span class="fa fa-star checked" data-rating="2"></span>
            <span class="fa fa-star checked" data-rating="3"></span>
            <span class="fa fa-star checked" data-rating="4"></span>
            <span class="fa fa-star-o" data-rating="5"></span>
          </div>
          
          <br>
          
          <p>
            Easy to ride, care free surfing craft that's fun for everyone,
            paddles well, super fast down the line and great for any level of surfing
            depending on who rides it. The Donny Stoker, a rework on design from stokesys
            first ever pro model. A super easy to surf and fun board. The Donny Stoker
            is a board for total freesurfing expression.
          </p>
          
          <h4 class="price">$499.99</h4>
          
          <button class="buy-now">BUY NOW</button>
        </div>
      </div>	
    </div>

    <div class="row justify-content-center boards" style="margin-bottom: 350px; ">
      
      <div class="col-md-4 col-sm-6"  style="background-color:#fff; height: 100%">
        <div class="row">
        
          <div class="col-md-8 col-sm-8">
            <img src="img/board.png" class="img-responsive" alt="Boards" width="300px" height="409px" style= "margin-left:-15px;"> 
          </div>
            
          <div class="col-md-4 col-sm-4" >
            <ul class="list-unstyled thumbs"  >
              <li><a class="nav-link" href="#"><img src="img/thumb1.png"></a></li>
              <li><a class="nav-link" href="#"><img src="img/thumb2.png"></a></li>
              <li><a class="nav-link" href="#"><img src="img/thumb3.png"></a></li>
              <li><a class="nav-link" href="#"><img src="img/thumb4.png"></a></li>
            </ul>
          </div>
        </div>
      </div>	
      
      <div class="col-md-4 col-sm-6" style="background-color:#fff;">  
        <h5>JR Surfboards The Donny Stoker <br /> Yellow/Green Rail Fade</h5>
        
        <div style="color: grey;">
        
          <div class="star-rating">
            <span class="fa fa-star checked" data-rating="1"></span>
            <span class="fa fa-star checked" data-rating="2"></span>
            <span class="fa fa-star checked" data-rating="3"></span>
            <span class="fa fa-star checked" data-rating="4"></span>
            <span class="fa fa-star-o" data-rating="5"></span>
          </div>
          
          <ul class="nav nav-tabs list-unstyled">
            <li class="nav-item">DESCRIPTION </li> 
            <li class="nav-item">FEATURES</li>
            <li class="nav-item">DIMENSIONS</li>
          </ul>
          
          <br>
          
          <p>
            Easy to ride, care free surfing craft that's fun for everyone,
            paddles well, super fast down the line and great for any level of surfing
            depending on who rides it. The Donny Stoker, a rework on design from stokesys
            first ever pro model. A super easy to surf and fun board. The Donny Stoker
            is a board for total freesurfing expression.
          </p>
          
          <h4 class="price">$499.99</h4>
          
          <button class="buy-now">BUY NOW</button>
          
          <br>
  
          <a href="#">View all boards</a>
        </div>
      </div>	
    </div>
  </div>
</div>